<div>
    Hello,
</div><br />

<div>
    I’m a software developer with a passion for building thoughtful, elegant solutions to unique problems. Although JavaScript is my swiss army knife, lately I’ve been learning (not to mention loving) Elixir and Phoenix and studying to become a certified AWS Solutions Architect.
</div><br />

<div>
When I’m not coding, you can find me
<a class="info">reading,
    <div>
        <p class="list-header">What I’m reading:</p>
        <ul>
            <li>Collected Essays - Ralph Waldo Emerson</li>
            <li>The Social Contract - Rousseau</li>
            <li>Invitation to a Beheading - Vladimir Nabokov</li>
            <li>Programming Elixir - David Thomas</li>
        </ul>
    </div>
</a> rock climbing, cooking, and listening to
    <a class="info">podcasts.
        <div>
            <p class="list-header">What I’m listening to:</p>
            <ul>
                <li>Revisionist History</li>
                <li>Conversations with Tyler</li>
                <li>Masters of Scale</li>
            </ul>
        </div>
    </a>
</div><br />

<div>
    If you’d like to work together to build something cool, feel free to reach out; I’m always interested in new challenges and I love to collaborate.
</div><br />

<div>
    <a href="mailto:lnagle@gmail.com">lnagle@gmail.com</a>
</div>
<div>
    <a href="https://github.com/lnagle93">GitHub</a>
</div>

