<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/app.css" />
</head>
<body>
    <div id="header">
        <h1>{{ title }}</h1>

        {{{ contents }}}
    </div>

    <div id="about">
        {{> about}}
    </div>

    <div id="certs-container">
        {{#each certifications }}
        <div class="cert-container">
            <div class="cert-logo">
                <img src={{asset}} alt="Cert Logo">
            </div>
            <h5>{{ name }}</h5>
        </div>
        {{/each}}
    </div>

    {{#each cases }}
    <div class="case-divider"></div>
    <div class="case">
        <div class="image-container">
            <img src={{asset}} alt="Case Logo" />
        </div>

        <div class="text-container">
            <h2>{{ title }}</h2>
            <p>{{{ contents }}}</p>
            {{#each tech}}
                <span class="tech">{{ this }}</span>
            {{/each}}
        </div>
    </div>
    {{/each}}
</body>
</html>
